*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-family: 'Poppins', sans-serif;
  --box-shadow: 0 55px 46px -6px #0000006e;

  --bg-dark-900:#141414;
  --bg-dark-800:  #1a1a1a;
  --border-dark: 1px solid #2b2b2b;
  --color: white;
  
  line-height: 1.5; 
  font-weight: 400;
  font-size: 62.5%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /*background: linear-gradient(47deg, rgba(0,22,42,1) 0%, rgba(0,35,66,1) 86%);*/
  background:var(--bg-dark-900);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family:var(--font-family);
 }

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}






@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background: #f9f9f9;
    --bg-dark-900:white;
    --bg-dark-800:  #fbfbfb;
    --color: rgb(0, 0, 0);
    --border-dark: 1px solid #e6e6e6;
    --box-shadow: 0 55px 46px -6px #ff7c000d;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
